<% if comments.present? %>
  <div class="comments-container f c">
    <% comments.each do |comment| %>
    <div class="comment-item f r">
      <span><%= comment.author.name %>: <%= comment.text %></span>
      <%= render 'shared/delete_comment', user: comment.author_id, post: comment.post_id, comment: comment%>
    </div>
    <% end %>
  </div>
<% end %>
