<article class="post-info f c">
  <h3 class="post-title"><%= post.title %></h3>
  <p class="post-text"><%= post.text %></p>
  <span class="post-counters">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></span>
</article>