<div class="post-show f c">
  <%= render 'shared/post_show', post: @post%>
  <div class="buttons f r">
    <button class="button-a pagination f">
      <a href="/users/<%= @post.author_id %>/posts/<%= @post.id %>/comments/new">New Comment</a>
    </button>
    <%= render 'likes/form'%>
  </div>
</div>
